<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="user.email">User</title>
<!--    <title></title>-->
</head>
<body>

    <table>

                <tr> First Name </tr>


                <tr> Last Name </tr>


                <tr> Year of Birth </tr>


                <tr> Gender </tr>


                <tr> Role </tr>



            <td th:text="${user.first_name}"></td>


            <td th:text="${user.last_name}"></td>


            <td th:text="${user.yearOfBirth}"></td>


            <td th:text="${user.gender}"></td>


            <td th:text="${user.role}"></td>


    </table>
            <div th:text="err"></div>
    <div>
        <form th:method="POST" th:action="@{/users/editUser}" th:object="${user}">

            <div>
                <input type="hidden" th:field="*{id}" th:value="${user.id}">
                <input type="hidden" th:field="*{email}"  th:value="${user.email}">
                <input type="hidden" th:field="*{first_name}"  th:value="${user.first_name}">
                <input type="hidden" th:field="*{last_name}"  th:value="${user.last_name}">
                <input type="hidden" th:field="*{country}"  th:value="${user.country}">
                <input type="hidden" th:field="*{phone_number}"  th:value="${user.phone_number}">



                <label for="password"> Введите желаемый пароль </label>
                <input type="password" th:field="*{password}" id="password"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}"> Password error
                </div>

                <br/>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <label > Введите роль пользователя </label>
                <br/>
                <div>
                    <label for="User"> User </label>
                    <input type="radio" th:field="*{role}" id="User" name="4" value="ROLE_USER"  />
                    <br/>
                </div>
                <div>
                    <label for="Admin"> Admin </label>
                    <input type="radio" th:field="*{role}" id="Admin" name="4" value="ROLE_ADMIN"  />
                    <br/>
                </div>

                <div style="color:red" th:if="${#fields.hasErrors('role')}"> Role error
                </div>
                <br/>

            </div>

            <input type="submit" value="Sign up!">
            <br/>
        </form>
    </div>

</body>

</html>